In [2]:
import netCDF4 as nc
import numpy as np
import numpy.ma as ma
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
fn = "/home/charlie/Documents/Uni/Exeter - Data Science/MTHM604_Tackling_Sustainability_Challenges/MTHM604_week_2/data/rawData/TIGER_Model_2019-11/flow/output/TIGER_map.nc"
ds = nc.Dataset(fn)

In [4]:
# print all variable names and shape of each variable
for i in ds.variables.keys():
    print(i, ': ', ds[i].shape)

projected_coordinate_system :  ()
mesh2d :  ()
mesh2d_node_x :  (146637,)
mesh2d_node_y :  (146637,)
mesh2d_node_z :  (146637,)
mesh2d_edge_x :  (426111,)
mesh2d_edge_y :  (426111,)
mesh2d_edge_nodes :  (426111, 2)
mesh2d_face_nodes :  (279464, 4)
mesh2d_edge_faces :  (426111, 2)
mesh2d_face_x :  (279464,)
mesh2d_face_y :  (279464,)
mesh2d_face_x_bnd :  (279464, 4)
mesh2d_face_y_bnd :  (279464, 4)
mesh2d_edge_type :  (426111,)
mesh2d_flowelem_ba :  (279464,)
mesh2d_flowelem_bl :  (279464,)
time :  (2593,)
timestep :  (2593,)
mesh2d_waterdepth :  (2593, 279464)
mesh2d_s1 :  (2593, 279464)
mesh2d_ucx :  (2593, 279464)
mesh2d_ucy :  (2593, 279464)
mesh2d_ucmag :  (2593, 279464)
mesh2d_czs :  (2593, 279464)

In [5]:

# Return individual variables

meshx = ds['mesh2d_node_x'][:]
meshy = ds['mesh2d_node_y'][:]
meshz = ds['mesh2d_node_z'][:]

In [6]:
mesh_ucmag = ds['mesh2d_ucmag'][:]
mesh_ucmagd = np.ma.getdata(mesh_ucmag)

In [7]:
mesh_ucmagd.shape

(2593, 279464)

In [8]:
df = pd.DataFrame(mesh_ucmagd)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,279454,279455,279456,279457,279458,279459,279460,279461,279462,279463
0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.318808e-16,3.074934e-16,7.641699e-16,5.464864e-16,3.862898e-16,1.894691e-16,2.468480e-16,4.995329e-16,6.589801e-16,4.718876e-16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.045777e-15,1.080218e-15,1.207854e-15,1.258160e-15,9.958852e-16,1.362624e-15,1.147718e-15,4.525909e-16,1.369165e-16,1.974264e-16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.641627e-15,1.243177e-15,1.431433e-15,1.484577e-15,1.383986e-15,2.433536e-15,2.097595e-15,2.212372e-15,1.621131e-16,1.384428e-16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.233877e-15,4.955687e-16,2.195735e-15,1.218810e-15,5.365846e-16,1.924399e-15,1.070991e-15,1.634123e-15,1.157891e-15,3.209762e-16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
fig, ax = plt.subplots()
ax.imshow(df, interpolation='nearest', cmap='viridis_r')

plt.show()

NameError: name 'plt' is not defined